@charset "UTF-8";
body {
background-color: white;
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
}
#banner h1 {
color:red
}
a:link {
    text-decoration: none;
}
a:hover {
    color:gray
}
html {
    height: 100%;
}